<!DOCTYPE html>
<html lang="en">
<head>
<title>Library Management</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
<!--<link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css">-->

<link rel="stylesheet" type="text/css" href="/css/home.css">
<link rel="stylesheet" type="text/css" href="/css/jquery.toastmessage.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.toastmessage.js"></script>
<script>

</script>
<!--<script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
-->
  <script>
    $(document).ready(function(){

      /*$('#search-table').append('<table></table>');
  var table = $('#search-table').children();    
  table.append("<tr><td>a</td><td>b</td></tr>");
  table.append("<tr><td>c</td><td>d</td></tr>");
  table.append("<tr><td>asdsad</td><td>asdasd</td></tr>");*/

        $('#searchClick').click(function(){
          var dataObj={
            author:$("#author_id").val(),
            isbn:$("#isbn").val(),
            title:$("#title").val()

          };

          $('#searchtable').empty();
          // alert($("#author_id").val());
           $.ajax({
           type: "POST",
           url: "/search",
           dataType: "json",
           success: function (data) {
            console.log(data);
               if (data) {
                   $().toastmessage('showSuccessToast', 'Search success!');
                   // buildHtmlTable('#search-table',data);
                   //$("#search-table").DataTable();

                    var appendHTML ="<table id='stable'><thead><tr><th>ISBN</th><th>TITLE</th><th>FullName</th><th>Branch ID</th><th>Branch Name</th><th>Number of Copies</th></tr></thead><tbody>";
                    for (var i = 0 ; i < data.length ; i++) {
                      console.log(data[i].ISBN);
                      appendHTML += '<tr><td> '+ data[i].ISBN +' </td> <td> '+ data[i].TITLE +' </td> <td> '+ data[i].fullname +' </td><td> '+ data[i].branch_id +' </td><td> '+ data[i].branch_name +' </td><td> '+ data[i].no_of_copies +' </td></tr>';
                    }
                    appendHTML +="</tbody></table>";
                   
                  $("#searchtable").append(appendHTML);
                  $("#stable").DataTable();

               } else {
                   alert("nooo");
               }
           },

           data: dataObj
       });
        });
    
    

     

        $('#searchBorrower').click(function(){
          var dataObj={
            branch_id:$("#branch_id").val(),
            isbn:$("#isbn_1").val(),
            card_no:$("#card_no").val()

          };

          $('#check_in_button').hide();
           //alert($("#isbn_1").val());
         if(!$("#card_no").val()){
                      $().toastmessage('showWarningToast', 'Please enter card number!');
                    }
           $.ajax({
           type: "POST",
           url: "/searchBorrower",
           dataType: "json",
           success: function (data) {
            console.log(data.isbn);
                  if (data.code==302) {
                  //$().toastmessage('removeToast', data.status);
                  $().toastmessage('showToast', {
                    text     : data.status,
                    sticky   : true,
                    position : 'top-center',
                    type     : 'warning',
                    close    : function () {console.log("toast is closed ...");}
                    });
                  // alert ("Fail"+data.status);
                  }
                  else if(data.code==303){
                    // alert ("Fail"+data.status);
                  // $().toastmessage('removeToast', data.status); 
                   $().toastmessage('showToast', {
                    text     : data.status,
                    sticky   : true,
                    position : 'top-center',
                    type     : 'warning',
                    close    : function () {console.log("toast is closed ...");}
                    });
                  }
                  
                 

                    else{
                    
                    
                   console.log('Hey');
                     $().toastmessage('showToast', {
                    text     : "check out successful",
                    sticky   : true,
                    position : 'top-center',
                    type     : 'success',
                    close    : function () {console.log("toast is closed ...");}
                    });
                    }
                  
                 
                  
                },

           data: dataObj
       });
        });
     

       

     

        $('#searchCheckIn').click(function(){
          var dataObj={
            book_id:$("#book_id").val(),
            card_no_check_in:$("#card_no_check_in").val(),
            borrower_name:$("#borrower_name").val()

          };
          
          $('#searchCheckIn_div').empty();
          $('#check_in_button').hide();
          // alert($("#book_id").val());
           
           $.ajax({
           type: "POST",
           url: "/searchCheckin",
           dataType: "json",
           success: function (data) {
          //  console.log(data);
                  if (data) {
                   //$().toastmessage('showSuccessToast', 'Search success!');
                  
                    console.log(data);
                    var appendHTML ="<table id='check_in_table'><thead><tr><th></th><th>ISBN</th><th>First Name</th><th>Last Name</th><th>Branch Id</th><th>Card Number</th><th>Number of Copies</th></tr></thead><tbody>";
                    for (var i = 0 ; i < data.length ; i++) {
                      console.log(data[i].ISBN);
                      appendHTML += '<tr><td id='+data[i].loan_id+'><input id='+data[i].loan_id+' type="checkbox" value='+data[i].loan_id+' class="select-checkbox"></td><td> '+ data[i].book_id +' </td> <td> '+ data[i].fname +' </td> <td> '+ data[i].lname +' </td><td> '+ data[i].branch_id +' </td><td> '+ data[i].card_no +' </td><td> '+ data[i].no_of_copies +' </td></tr>';
                    }

                    appendHTML +="</tbody></table>";
                   
                  $("#searchCheckIn_div").append(appendHTML);
                  
               
                  $("#check_in_table").DataTable();
                  $('#check_in_button').show();
                    $().toastmessage('showToast', {
                    text     : 'Search Success',
                    sticky   : true,
                    position : 'top-center',
                    type     : 'success',
                    close    : function () {console.log("toast is closed ...");}
                    });
                 // console.log("sThisVal:"+sThisVal);
               } else {
                   alert("nooo");
               }
                },

           data: dataObj
       });
        });
    
        
            $('#check_in_button').click(function(){
              var sThisVal="";
                $('.select-checkbox').each(function () {
                   

                    sThisVal += (this.checked ? $(this).attr('id')+',' : "");

                    console.log("sThisVal"+sThisVal);
             

                });
                var dat_obj={key:sThisVal.substring(0,sThisVal.length-1)};
                       $.ajax({
                      type: "POST",
                      url: "/searchCheckinUpdateDate",
                      dataType: "json",
                      success: function (data) {
                      
                      console.log(data);
                      if (data.code==200) {
                          console.log('success-->');
                           $().toastmessage('showToast', {
                          text     : data.status,
                          sticky   : true,
                          position : 'top-center',
                          type     : 'success',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                      else{
                        console.log('fail');
                         $().toastmessage('showToast', {
                        text     : 'Check in failed',
                        sticky   : true,
                        position : 'top-center',
                        type     : 'error',
                        close    : function () {console.log("toast is closed ...");}
                        });
                      }
                    },
                      data:dat_obj
                  });
          });
        
           
            $('#add_borrower').click(function(){
              if(!$('#ssn').val()){
               // alert("Please enter ssn");
                $().toastmessage('showWarningToast', 'Please enter ssn!');
              }
              if(!$('#fname').val()){
               // alert("Please enter first name");
               $().toastmessage('showWarningToast', 'Please enter first name!');
              }
               if(!$('#lname').val()){
                //alert("Please enter last name");
                $().toastmessage('showWarningToast', 'Please enter last name!');
              }
              if(!$('#email').val()){
               // alert("Please enter email");
               $().toastmessage('showWarningToast', 'Please enter email!');
              }
               if(!$('#address').val()){
               // alert("Please enter address");
               $().toastmessage('showWarningToast', 'Please enter address!');
              }
              if(!$('#city').val()){
                //alert("Please enter city");
                $().toastmessage('showWarningToast', 'Please enter city!');
              }
              if(!$('#state').val()){
               // alert("Please enter state");
               $().toastmessage('showWarningToast', 'Please enter state!');
              }
               if(!$('#phone').val()){
                //alert("Please enter phone");
                $().toastmessage('showWarningToast', 'Please enter phone!');
              }
              else{
              var dataObj={
                ssn:$("#ssn").val(),
                fname:$("#fname").val(),
                lname:$("#lname").val(),
                email:$("#email").val(),
                address:$("#address").val(),
                city:$("#city").val(),
                state:$("#state").val(),
                phone:$("#phone").val()
                };
               // var dat_obj={key:sThisVal.substring(0,sThisVal.length-1)};
                  $.ajax({
                      type: "POST",
                      url: "/addBorrower",
                      dataType: "json",
                      success: function (data) {
                        console.log("hellllp"+data);
                      if (data.code==101) {
                        //alert ("Fail"+data.status);
                         $().toastmessage('showToast', {
                          text     : data.status,
                          sticky   : true,
                          position : 'top-center',
                          type     : 'error',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                      
                      else if(data.code!=101) {
                          console.log('success-->');
                          $().toastmessage('showToast', {
                          text     : 'Add Borrower Success',
                          sticky   : true,
                          position : 'top-center',
                          type     : 'success',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                      else{
                        console.log('fail');
                        $().toastmessage('showToast', {
                          text     : 'Add Borrower failed',
                          sticky   : true,
                          position : 'top-center',
                          type     : 'error',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                    },
                      data:dataObj
                  });
                }
              });
          
        

        
            $('#calculate_fines').click(function(){
              var dataObj={
                loan_id_fine:$("#loan_id_fine").val()
                
                };

                $.ajax({
                      type: "POST",
                      url: "/calculateFine",
                      dataType: "json",
                      success: function (data) {
                      if (data.code==101) {
                       // alert ("Fail"+data.status);
                          $().toastmessage('showToast', {
                          text     : data.status,
                          sticky   : true,
                          position : 'top-center',
                          type     : 'error',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                      console.log(data);
                      if (data.code==200) {
                          console.log('success-->');
                            console.log('success-->');
                          $().toastmessage('showToast', {
                          text     : data.status,
                          sticky   : true,
                          position : 'top-center',
                          type     : 'success',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                      else{
                        console.log('fail');
                          $().toastmessage('showToast', {
                          text     : 'Fine Calculation failed',
                          sticky   : true,
                          position : 'top-center',
                          type     : 'error',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                    },
                      data:dataObj
                });
            });
          
         
            $('#update_entry').click(function(){
              var dataObj={
                loan_id_pay:$("#loan_id_pay").val(),
                fine_amt:$('#fine_amt').val(),
                card_no_fine:$('#card_no_fine').val()
                };
               // alert('Hi');
                $('#pay_div').empty();
                $.ajax({
                      type: "POST",
                      url: "/updateFine",
                      dataType: "json",
                      success: function (data) {
                      
                      if (data.code==101) {
                        //alert ("Fail"+data.status);
                          $().toastmessage('showToast', {
                          text     : data.status,
                          sticky   : true,
                          position : 'top-center',
                          type     : 'error',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                      
                      else {

                      console.log('success-->');
                      //alert(data);
                      var appendHTML ="<table id='pay_fine'><thead><tr><th>Card Number</th><th>Total Fine Amount</th></tr></thead><tbody>";
                      for (var i = 0 ; i < data.length ; i++) {
                      console.log(data[i].card_no);
                      appendHTML += '<tr><td> '+ data[i].card_no +'</td><td> '+ data[i].total_fine +' </td> </tr>';
                      }

                      appendHTML +="</tbody></table>";
                      $("#pay_div").append(appendHTML);
                      $("#pay_fine").DataTable();
                        $().toastmessage('showToast', {
                          text     : 'Show Fine Success',
                          sticky   : true,
                          position : 'top-center',
                          type     : 'success',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                    },
                     
                    
                      data:dataObj
                });
            });
         

          
            $('#pay_fine_amount').click(function(){
                var dataObj={
                loan_id_pay:$("#loan_id_pay").val(),
                fine_amt:$('#fine_amt').val()
                
                };
                $('#pay_div').empty();
              $.ajax({
                      type: "POST",
                      url: "/payFine",
                      dataType: "json",
                      success: function (data) {
                      
                      if (data.code==101) {
                        //alert ("Fail"+data.status);
                           $().toastmessage('showToast', {
                          text     : data.status,
                          sticky   : true,
                          position : 'top-center',
                          type     : 'error',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                      else{
                         $().toastmessage('showToast', {
                          text     : 'Payment Successful',
                          sticky   : true,
                          position : 'top-center',
                          type     : 'success',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                     

                    
                      
                    },
                     
                    
                      data:dataObj
                });
            });
        
          
            $('#previous_fine').click(function(){
                var dataObj={
                loan_id_pay:$("#loan_id_pay").val(),
                fine_amt:$('#fine_amt').val(),
                card_no_fine:$('#card_no_fine').val()
                };
                $('#pay_div').empty();
                $.ajax({
                      type: "POST",
                      url: "/previousFine",
                      dataType: "json",
                      success: function (data) {
                      
                      if (data.code==101) {
                        //alert ("Fail"+data.status);
                          $().toastmessage('showToast', {
                          text     : data.status,
                          sticky   : true,
                          position : 'top-center',
                          type     : 'error',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }
                      
                      else {
                     
                      //alert('Here in prev fine');

                      console.log('success-->'+data);
                      //alert(data);
                      var appendHTML ="<table id='pay_fine'><thead><tr><th>Card Number</th><th>Loan ID</th><th>Total Fine Amount</th><th>Paid</th></tr></thead><tbody>";
                      for (var i = 0 ; i < data.length ; i++) {
                      //console.log(data[i].card_no);
                      appendHTML += '<tr><td> '+ data[i].card_no +'</td><td> '+ data[i].loan_id +' </td><td> '+ data[i].fine_amt +' </td> <td> '+ data[i].PAID +' </td> </tr>';
                      $().toastmessage('showToast', {
                          text     : 'Show previous fien Successful',
                          sticky   : true,
                          position : 'top-center',
                          type     : 'success',
                          close    : function () {console.log("toast is closed ...");}
                        });
                      }

                      appendHTML +="</tbody></table>";
                      $("#pay_div").append(appendHTML);
                      $("#pay_fine").DataTable();
                      }
                    },
                     
                    
                      data:dataObj
                });
            });

          });
    </script>  
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Library Management System</h1>      
  </div>
        
<!-- </div> -->
<!-- <div class="container-fluid"> -->
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Book Loans
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a data-toggle="tab" href="#menu2">Check out</a></li>
      <li><a data-toggle="tab" href="#menu3">Check in</a></li>
     
    </ul>
  </li>
  <li><a data-toggle="tab" href="#menu4">Borrower Management</a></li>
  <li><a data-toggle="tab" href="#menu5">Fines</a></li>
  <li><a data-toggle="tab" href="#menu6">Make Payment</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>Advanced Search</h3>
    <div id="search_it">
      <div class="form-group">
      <label for="author">Author:</label>
      <input id= "author_id"  class="form-control" >
    </div>
    <div class="form-group">
      <label for="isbn">ISBN:</label>
      <input id ="isbn" class="form-control" i>
    </div>

    <div class="form-group">
      <label for="title">Title:</label>
      <input id ="title" class="form-control" i>
    </div>

    <button id ="searchClick" type="submit" class="btn btn-default">Submit</button>

    <div id="searchtable" > </div>

    </div>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Check out</h3>
      <div id="check_out">
      <div class="form-group">
      <label for="branch_id">Branch Id:</label>
      <input id= "branch_id"  class="form-control" >
    </div>
    <div class="form-group">
      <label for="isbn_1">ISBN:</label>
      <input id ="isbn_1" class="form-control" i>
    </div>

    <div class="form-group">
      <label for="card_no">Card No:</label>
      <input id ="card_no" class="form-control" i>
    </div>

    <button id ="searchBorrower" type="submit"  class="btn btn-default">Check out</button>

  </div>
  </div>
  <div id="menu3" class="tab-pane fade">
    <h3>Check in</h3>
      <div id="check_in">
      <div class="form-group">
      <label for="book_id">Book Id:</label>
      <input id= "book_id"  class="form-control" >
    </div>
    <div class="form-group">
      <label for="card_no_check_in">Card No:</label>
      <input id ="card_no_check_in" class="form-control" i>
    </div>

    <div class="form-group">
      <label for="borrower_name">Borrower Name:</label>
      <input id ="borrower_name" class="form-control" i>
    </div>

    <button id ="searchCheckIn" type="submit"  class="btn btn-default">Search Books</button>
  </div>
  <div id="searchCheckIn_div" > </div>
    <button id ="check_in_button" style="display:none" type="submit"  class="btn btn-default">Check In </button>
    </div>
      <div id="menu4" class="tab-pane fade">
    <h3>Add Borrower</h3>
      <div id="borrower_mgmt">
     
    <div class="form-group">
      <label for="ssn" class="required">SSN:</label>
      <input id ="ssn" class="form-control required" i>
    </div>

    <div class="form-group">
      <label for="fname" class="required">Borrower First Name:</label>
      <input id ="fname" class="form-control " i>
    </div>

    <div class="form-group">
      <label for="lname" class="required">Borrower Last Name:</label>
      <input id ="lname" class="form-control " i>
    </div>
    <div class="form-group">
      <label for="email" class="required">Email:</label>
      <input id ="email" class="form-control" i>
    </div>
    <div class="form-group">
      <label for="address" class="required">Address:</label>
      <input id ="address" class="form-control" i>
    </div>
      <div class="form-group">
      <label for="city" class="required">City:</label>
      <input id ="city" class="form-control" i>
    </div>
      <div class="form-group">
      <label for="state" class="required">State:</label>
      <input id ="state" class="form-control" i>
    </div>
    <div class="form-group">
      <label for="phone" class="required">Phone:</label>
      <input id ="phone" class="form-control" i>
    </div>
    <button id ="add_borrower" type="submit"  class="btn btn-default">Add Borrower</button>
  </div>
 
  
</div>
      <div id="menu5" class="tab-pane fade">
    <h3>Calculate Fines</h3>
      <div id="fines">
      <div class="form-group">
      <label for="loan_id_fine">Enter Loan ID:</label>
      <input id ="loan_id_fine" class="form-control" i>
      </div>
      <div>
      <button id ="calculate_fines" type="submit"  class="btn btn-default">Calculate fines/Update Entries</button>
      </div>
    
        
     </div>
 
  
</div>
     <div id="menu6" class="tab-pane fade">
    <h3>Payment of Fines</h3>
      <div id="fines">
      <div class="form-group">
      <label for="loan_id_pay">Enter Loan ID:</label>
      <input id ="loan_id_pay" class="form-control" i>
      </div>
      <div class="form-group">
      <label for="fine_amt">Enter fine Amount:</label>
      <input id ="fine_amt" class="form-control" i>
      </div>
        <button id ="pay_fine_amount" type="submit"  class="btn btn-default">Pay</button>
      <h3>Display of fines</h3>
       <div class="form-group">
      <label for="card_no_fine">Enter Card no:</label>
      <input id ="card_no_fine" class="form-control" i>
      </div>
     
      <button id ="update_entry" type="submit"  class="btn btn-default">Show fine amount</button>
    
      <button id ="previous_fine" type="submit"  class="btn btn-default">Show previously paid fines</button>
       <div id="pay_div" > </div>
      <div >
      </div>
    
          
     </div>
 
  
</div>
</div>
</body>
</html>
